<!--
 * @Author: victorsun
 * @Date: 2022-05-01 21:41:26
 * @LastEditors: victorsun
 * @LastEditTime: 2022-05-02 22:36:04
 * @Descripttion: gltf 模型组件
-->
<html>
<head>
<script src="../lib/1.3.0/aframe.js"></script>
</head>
<body>
<!--
demo见 《3D模型和动画》

<a-entity gltf-model=""></a-entity>
可以传入两种值：
1. selector  指向一个 <a-asset-item> 的Selector
2. string    url() - glTF文件路径

[事件]
model-loaded   模型加载到场景中
model-error    模型加载错误

[动画] animation-mixer
<a-entity gltf-model="url(/path/to/tree.gltf)" animation-mixer></a-entity>

[模型转换]
FBX → glTF      https://github.com/facebookincubator/FBX2glTF
COLLADA → glTF  https://cesium.com/blog/2019/09/17/ion-gltf/
OBJ → glTF      https://github.com/CesiumGS/obj2gltf

-->
</body>
</html>