<!--
 * @Author: victorsun
 * @Date: 2022-05-02 23:15:46
 * @LastEditors: victorsun
 * @LastEditTime: 2022-05-03 01:35:03
 * @Descripttion: 缩放组件
-->
<html>
<head>
<script src="../lib/1.3.0/aframe.js"></script>
</head>
<body>
<!--
定义实体的收缩、拉伸或倾斜变换
[属性]
x  X方向的比例因子  1
y  Y方向的比例因子  1
z  Z方向的比例因子  1

[反转]
当比例因子为负数时发生反转，如天空球包含整个场景，内部设置纹理
scale="1 1 -1"

[转换顺序]
1. scale
2. rotation
3. position/translation

-->

<a-scene>
  <a-entity scale="0.5 1 2"></a-entity>

  <!-- 反转 -->
  <a-entity
    geometry="primitive: sphere; radius: 1000"
    material="src: sky.png"
    scale="1 1 -1"
  ></a-entity>

  <a-sky src="../assets/sechelt.jpg"></a-sky>
</a-scene>


<script>
/*
// 更新缩放
el.object3D.scale.set(1, 2, 3); // With three.js
el.setAttribute('scale', {x: 1, y: 2, z: 3}); // With .setAttribute (not recommended)
el.object3D.scale.x += 1;
el.object3D.scale.multiplyScalar(2);
el.object3D.scale.sub(someOtherVector);

// 获取缩放
el.object3D.scale;
el.getAttribute('scale');
*/
</script>


</body>
</html>