<!--
 * @Author: victorsun
 * @Date: 2022-04-30 22:11:53
 * @LastEditors: victorsun
 * @LastEditTime: 2022-05-01 23:34:57
 * @Descripttion: stats 性能监控组件
-->
<html>
<head>
<script src="../lib/1.3.0/aframe.js"></script>
</head>
<body>
<!--
  性能监控 <a-scene stats></a-scene>

  fps: frames per second, framerate. Aim for stable 90 fps with the WebVR 1.0 API.
  requestAnimationFrame(raf): Latency.
  Textures: number of three.js textures in the scene. A lower count means the scene is using less memory and sending less data to the GPU.
  Programs: number of GLSL shaders in the scene.
  Geometries: number of three.js geometries in the scene. A lower count means the scene is using less memory.
  Vertices: number of vertices in the scene.
  Faces: number of faces in the scene.
  Calls: number of draw calls on each frame.
  Load Time: how long it took for the scene to start rendering, in ms.
  Entities: number of A-Frame entities.
-->

<a-scene stats>
  <a-box color="red" position="0 2 -5" rotation="0 45 45"></a-box>
</a-scene>

</body>
</html>