<!--
 * @Author: victorsun
 * @Date: 2022-05-02 23:16:49
 * @LastEditors: victorsun
 * @LastEditTime: 2022-05-03 16:22:16
 * @Descripttion: visible可见性组件
-->
<html>
<head>
<script src="../lib/1.3.0/aframe.js"></script>
</head>
<body>
<!--
决定是否渲染实体，如果设置为 false，则实体将不可见也不绘制
-->

<script>
// 更新可见性
el.object3D.visible = false; // With three.js
el.setAttribute('visible', false); // With .setAttribute.
</script>

<a-scene>

  <!-- 隐藏实体直到纹理加载 -->
  <a-entity
    animation="property: visible; to: true; startEvents: materialtextureloaded"
    material="src: #myTexture"
    visible="false"
  ></a-entity>

  <a-sky visible="false" src="../assets/sechelt.jpg"></a-sky>

</a-scene>

</body>
</html>