<!--
 * @Author: victorsun
 * @Date: 2022-05-02 23:16:53
 * @LastEditors: victorsun
 * @LastEditTime: 2022-05-03 00:25:36
 * @Descripttion: vr-mode-ui
-->
<html>
<head>
<script src="../lib/1.3.0/aframe.js"></script>
</head>
<body>
<!--
允许禁用 进入VR 按钮

[属性]
enabled          是否显示与进入 VR 相关的 UI    true
enterVRButton    自定义 VR 按钮的选择器         ''
enterARButton    自定义 AR 按钮的选择器         ''
-->

<!-- <a-scene vr-mode-ui="enabled: false">
  <a-sky src="../assets/sechelt.jpg"></a-sky>
</a-scene> -->

<!-- 自定义VR/AR按钮 -->
<a-scene
  vr-mode-ui="enterVRButton: #myEnterVRButton; enterARButton: #myEnterARButton">
  <a id="myEnterVRButton" href="#"></a>
  <a id="myEnterARButton" href="#"></a>
</a-scene>

</body>
</html>