<!--
 * @Author: victorsun
 * @Date: 2022-05-04 16:40:30
 * @LastEditors: victorsun
 * @LastEditTime: 2022-05-04 17:16:32
 * @Descripttion: 
-->
<html>

<head>
  <script src="../../A-Frame/lib/1.3.0/aframe.js"></script>
  <script src="../../A-Frame/lib/aframe-environment-component.js"></script>
  <script src="./positionLimit.js"></script>
</head>
</head>

<body>

  <a-scene environment="preset: forest;">
    <a-camera wasd-controls="fly: true" position-limit="maxPos: 10 20 10; minPos: -10 0 -10">
      <a-cursor color="#FAFAFA"></a-cursor>
    </a-camera>
  </a-scene>

</body>

</html>